In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
print(df.shape)
print(df.head())

(32561, 15)
   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [3]:
print(df.describe())
print(df.info())

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [4]:

# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df["race"].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [5]:
# What is the average age of men? 
average_age_men= df[df["sex"]=="Male"]["age"].mean()
print(average_age_men)

39.43354749885268

In [6]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = (df["education"] == "Bachelors").mean() * 100
print(percentage_bachelors)

16.44605509658794

In [7]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

higher_education = df["education"].isin(["Bachelors", "Masters", "Doctorate"])
higher_education_rich = df[higher_education]["salary"] == ">50K"
percentage_higher_education_rich = higher_education_rich.mean() * 100
print(percentage_higher_education_rich)

46.535843011613935

In [8]:
# What percentage of people without advanced education make more than 50K?
lower_education = ~higher_education
lower_education_rich = df[lower_education]["salary"] == ">50K"
percentage_lower_education_rich = lower_education_rich.mean() * 100
print(percentage_lower_education_rich)

17.3713601914639

In [9]:
  # What country has the highest percentage of people that earn >50K?
highest_earning_country = df[df["salary"] == ">50K"]["native-country"].value_counts().idxmax()
highest_earning_country_percentage = (df[df["native-country"] == highest_earning_country]["salary"] == ">50K").mean() * 100
print(highest_earning_country)

United-States